body {
    color:cornsilk;
    font-style: italic;
    background-image: url(imgnatal3.png);
    background-position: 300%;
    }
h1{
    color:cyan; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}  